// : Service Key Color

Service_MainColor         = #fff150
Service_MainFontColor     = #565050
Service_KeyColor          = #f8ec95
Service_SecondColor       = #323238
Service_Background        = #fff
Service_Background_light  = #f6f5f0
Service_Ribbon            = #e40064
Service_Font_Gray         = #a9a9a9
Service_Font_Gray_dark    = #ababae
Service_Button_Color      = #3c9cf5