button
  reset('button')

.ex-button-blue
  display block
  background Service_Button_Color
  color #fff
  padding Space_sizes[5] Space_sizes[2] Space_sizes[5] - 2 Space_sizes[2]
  font-size Font_sizes[1]
  line-height 0
  text-align center
  margin 0 Space_sizes[3] Space_sizes[5] Space_sizes[3]
  border-radius Border_radius[1]
  border none