.ex_input-text
  box-shadow none
  border-radius 0
  border none
  padding Space_sizes[1]
  font-size Font_sizes[2]
  line-height Line_heights[1]
  
  &::-webkit-input-placeholder
    color #9e9098
  &::-moz-placeholder
    color #cc3300