// html, body

html
  font-family "Roboto", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, Meiryo, sans-serif
  color Font_color_black
  -webkit-overflow-scrolling touch
  overflow-x hidden
  overflow-y scroll
body
  background-color #79b74a
  color #fff