.Component_Search
  background rgba(255,255,255,.95)
  position fixed
  height 50px
  width 100%
  z-index Z_indexes[9]
  top 0
  
  .Search__input
    reset-form-button()
    width 100%
    font-size Font_sizes[2]
    text-align center
    line-height Line_heights[1]
    padding Space_sizes[3] Space_sizes[3] 0